/**
--- COLORS ---
There are 4 main colors to define:
1. Default
2. Primary
3. Accent
4. Compliment

These have corresponding text/icon colors for normal and disabled states. You can use the additional 'inverse' class to swap the background-color and color values. You must define a disabled color for this inverse state as well.

You can also define error, warn, and info colors for use as classes

It's YOUR responsibility to make sure there is enough contrast to be accessible!
*/

:root {
  --default: black;
  --default-text: black;
  --default-text-disabled: lightgray;
  --default-text-disabled-inverse: lightgray;
  --primary: #22b188;
  --primary-text: black;
  --primary-text-disabled: lighten(var(--primary));
  --primary-inverse-text-disabled: white;
  --accent: maroon;
  --accent-text: white;
  --accent-text-disabled: grey;
  --accent-inverse-text-disabled: lightgray;
  --compliment: lightgreen;
  --compliment-text: white;
  --compliment-text-disabled: lightgreen;
  --compliment-inverse-text-disabled: lightgray;
  --error: red;
  --warn: yellow;
  --info: lightblue;
}

html,
body,
.default-theme {
  background-color: var(--default);
  color: var(--default-text);
}

html [disabled],
body [disabled],
.default-theme [disabled] {
  color: var(--default-text-disabled);
}

.default-theme-inverse {
  background-color: var(--default-text);
  color: var(--default);
}

.default-theme-inverse [disabled] {
  color: var(--default-text-disabled-inverse);
}

.default-text {
  color: var(--default-text);
}

.primary-theme {
  background-color: var(--primary);
  color: var(--primary-text);
}

.primary-theme [disabled] {
  color: var(--primary-text-disabled);
}

.primary-theme-inverse {
  background-color: var(--primary-text);
  color: var(--primary);
}

.primary-theme-inverse [disabled] {
  color: var(--primary-inverse-text-disabled);
}

.primary-text {
  color: var(--primary-text);
}

.accent-theme {
  background-color: var(--accent);
  color: var(--accent-text);
}

.accent-theme [disabled] {
  color: var(--accent-text-disabled);
}

.accent-theme-inverse {
  background-color: var(--accent-text);
  color: var(--accent);
}

.accent-theme-inverse [disabled] {
  color: var(--accent-inverse-text-disabled);
}

.accent-text {
  color: var(--accent);
}

.compliment-theme {
  background-color: var(--compliment);
  color: var(--compliment-text);
}

.compliment-theme [disabled] {
  color: var(--compliment-text-disabled);
}

.compliment-theme-inverse {
  background-color: var(--compliment-text);
  color: var(--compliment);
}

.compliment-theme-inverse [disabled] {
  color: var(--compliment-inverse-text-disabled);
}

.compliment-text {
  color: var(--compliment);
}

*::-moz-selection {
  color: white;
  background: var(--primary);
}

*::selection {
  color: white;
  background: var(--primary);
}
