:root {
  --depth-0: none !important;
  --depth-1: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  --depth-2: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
  --depth-3: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .3);
  --depth-4: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
  --depth-5: 0 12px 17px 1px rgba(0, 0, 0, .14), 0 4px 22px 3px rgba(0, 0, 0, .12), 0 6px 7px -4px rgba(0, 0, 0, .3);
  --depth-6: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .3);
}

.depth-0 {
  box-shadow: var(--depth-0);
}

/* Toolbar, Switch, Card - resting, Button - resting, Search */
.depth-1 {
  box-shadow: var(--depth-1);
}

/* Toast, FAB - resting */
.depth-2 {
  box-shadow: var(--depth-2);
}

/* Menu, Card - hover, Button - pressed */
.depth-3 {
  box-shadow: var(--depth-3);
}

/* FAB - pressed */
.depth-4 {
  box-shadow: var(--depth-4);
}

/* Drawer */
.depth-5 {
  box-shadow: var(--depth-5);
}

/* Dialog, Picker */
.depth-6 {
  box-shadow: var(--depth-6);
}
