/*
--- FONTS ---
Defines the fonts for things like headings, paragraphs, and anchors

It's YOUR responsibility to make sure that anchors are easily visible, and have some indication of having focus and active states.

Some common additions to these are special fonts for ampersands and/or quotation marks.

NOTE: to color the fonts, use the classes from colors.css
*/

@import '../variables/colors.css';

:root {
  /* Headers */
  --header-font: 'Open Sans', Arial;

  /* H1 */
  --h1-font: var(--header-font);
  --h1-size: 2rem;
  --h1-weight: 700;
  --h1-line-height: 1.5rem;

  /* H2 */
  --h2-font: var(--header-font);
  --h2-size: 1rem;
  --h2-weight: 500;
  --h2-line-height: 1.5rem;

  /* H3 */
  --h3-font: var(--header-font);
  --h3-size: .8rem;
  --h3-weight: 700;
  --h3-line-height: 1.5rem;

  /* H4 */
  --h4-font: var(--header-font);
  --h4-size: .75rem;
  --h4-weight: 700;
  --h4-line-height: 1.5rem;

  /* H5 */
  --h5-font: var(--header-font);
  --h5-size: .7rem;
  --h5-weight: 700;
  --h5-line-height: 1.5rem;

  /* H6 */
  --h6-font: var(--header-font);
  --h6-size: .7rem;
  --h6-weight: 700;
  --h6-line-height: 1.5rem;

  /* Subheader */
  --subheader-font: var(--header-font);
  --subheader-size: 1.5rem;
  --subheader-weight: 300;
  --subheader-line-height: 1.6rem;

  /* Copy */
  --copy-font: 'Cardo', Arial, serif;
  --copy-size: 20px;
  --copy-weight: normal;
  --copy-line-height: 1.3rem;

  /* Kicker/Intro/Deck */
  --kicker-font: var(--copy-font);
  --kicker-size: 1.5rem;
  --kicker-weight: 700;
  --kicker-line-height: 1.5rem;

  /* Pull Quotes */
  --pull-quote-font: var(--header-font);
  --pull-quote-size: 1.5rem;
  --pull-quote-weight: 700;
  --pull-quote-line-height: 1.5rem;

  /* Credits */
  --credit-font: var(--body-font);
  --credit-size: .8rem;
  --credit-weight: 700;
  --credit-line-height: 1.2rem;

  /* Captions */
  --caption-font: var(--copy-font);
  --caption-size: 1em;
  --caption-weight: 500;
  --caption-line-height: 1.5rem;

  /* Code */
  --code-font: monospace;
}

body {
  font-family: var(--copy-font);
  font-size: var(--copy-size);
  font-weight: var(--copy-weight);
  line-height: var(--copy-line-height);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--header-font);
  margin: 0 auto;
  text-transform: uppercase;
  padding: 0 2px 4px 2px;
  width: 100%;
}

h1,
.h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}

h2,
.h2 {
  font-family: var(--h2-font);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  display: inline-block;
  padding: 5px;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 20px;
}

h3,
.h3 {
  font-family: var(--h3-font);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}

h4,
.h4 {
  font-family: var(--h4-font);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}

h5,
.h5 {
  font-family: var(--h5-font);
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  line-height: var(--h5-line-height);
}

h6,
.h6 {
  font-family: var(--h6-font);
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  line-height: var(--h6-line-height);
}

.subheader {
  font-family: var(--subheader-font);
  font-size: var(--subheader-size);
  font-weight: var(--subheader-weight);
  line-height: var(--subheader-line-height);
  text-transform: uppercase;
}

.kicker,
.intro,
.deck {
  font-family: var(--kicker-font);
  font-size: var(--kicker-size);
  font-weight: var(--kicker-weight);
  line-height: var(--kicker-line-height);
  margin-bottom: 20px;
}

.pull-quote {
  font-family: var(--pull-quote-font);
  font-size: var(--pull-quote-size);
  font-weight: var(--pull-quote-weight);
  line-height: var(--pull-quote-line-height);
}

code,
samp,
kbd {
  font-family: var(--code-font, monospace);
  font-size: var(--code-font-size, 1rem);
  font-weight: var(--code-font-weight, normal);
  line-height: var(--code-font-line-height, 1.5em);
}
