@import './depths.css';

main > section,
main > article,
main > section + section,
main > section + article,
main > article + article,
main > article + section {
  /* width: 90%;
  margin: 20px auto 0 auto;
  padding: 20px;
  box-shadow: var(--depth-2); */
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
