/*
--- FLEX ---
Helper classes for dealing with display: flex items
*/

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-cross-start {
  align-items: flex-start;
}

.flex-cross-end {
  align-items: flex-end;
}

.flex-cross-center {
  align-items: center;
}

.flex-cross-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}
