/*
--- GRID ---
Utility classes for grid-based layouts
*/

:root {
  --main-axis-gutter-size: 20px;
  --cross-axis-gutter-size: 20px;
}

.row,
.col {
  display: block;
}

.row::after {
  clear: both;
}

.col {
  flex-direction: column;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.row.wrap,
.col.wrap {
  flex-wrap: wrap;
}

.row {
  margin: var(--cross-axis-gutter-size) var(--main-axis-gutter-size);
}
