/*
--- UTILITY ---
Used to define helper methods for things like alignment, positioning, overflow, etc.
*/

[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.circular {
  border-radius: 50%;
}

.responsive {
  height: auto;
  max-width: 100%;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.fullwidth {
  width: 100%;
}

.all-caps {
  text-transform: uppercase;
}

.truncate {
  display: inline-block;
  width: 90%;
  width: calc(100% - 4em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

[display='block'].left {
  margin-left: 0;
  margin-right: auto;
}

p.left,
h1.left,
h2.left,
h3.left,
h4.left,
h5.left,
h6.left,
span.left,
a.left,
li.left,
[display='inline'].left,
[display='inline-block'].left {
  text-align: left;
}

[display='block'].center {
  margin-left: auto;
  margin-right: auto;
}

p.center,
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
span.center,
a.center,
li.center,
[display='inline'].center,
[display='inline-block'].center {
  text-align: center;
}

[display='block'].right {
  margin-left: auto;
  margin-right: 0;
}

p.right,
h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right,
span.right,
a.right,
li.right,
[display='inline'].right,
[display='inline-block'].right {
  text-align: right;
}

p.middle,
h1.middle,
h2.middle,
h3.middle,
h4.middle,
h5.middle,
h6.middle,
span.middle,
a.middle,
li.middle,
div.middle,
section.middle,
[display='block'].middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

[display='inline'].middle,
[display='inline-block'].middle {
  vertical-align: middle;
}

.hide-overflow {
  overflow: hidden;
}

.scroll-overflow {
  overflow-x: auto;
  overflow-y: auto;
}

.scroll-overflow-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-overflow-x {
  overflow-x: auto;
  overflow-y: hidden;
}

