a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: auto;
  line-height: 0;
  color: inherit;
}

a::after {
  display: inline-block;
  content: '';
  height: 1px;
  width: 100%;
  box-shadow: 0 2px;
  transform: translateY(10px);
  opacity: 0;
  transition: .2s ease;
}

a:hover::after,
a:focus::after {
  transform: translateY(5px);
  opacity: 1;
}

a:visited,
a.visited {
  color: red;
}

@media print {
  a[href]::after {
    content: ' (' attr(href) ')';
  }
}
