@import '../variables/colors.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 1px solid gray;
  outline-style: dashed;
}

html,
body {
  height: 100%;
  background-color: var(--default);
}

.sticky-header.sticky-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sticky-header.sticky-footer > header {
  flex: none;
}

.sticky-header.sticky-footer > header + * {
  flex: 1;
  overflow-y: auto;
}

.sticky-header.sticky-footer > footer {
  flex: none;
}
