@import '../variables/colors.css';

#skip-link {
  padding: 0;
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  top: -1.5em;
  transform: translateY(0);
  will-change: transform;
  z-index: 1000;
}

#skip-link:focus {
  transform: translateY(1.5em);
}

#skip-link + .wrapper {
  transform: translateY(0);
  will-change: transform;
}

#skip-link:focus + .wrapper {
  transform: translateY(1.5em);
}

[role=banner] {
  position: relative;
  display: flex;
}

[role=banner] > .logo {
  max-height: 50px;
}

[role=banner] > nav {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 100%;
  list-style: none;
  margin-left: auto;
  padding-right: 32px;
  z-index: 999;
  background-color: var(--default);
}

[role=banner] ul {
  margin-top: 30px;
}

[role=banner] #nav-toggle {
  position: absolute;
  left: -9999px;
}

[role=banner] #nav-toggle + label {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: inherit;
  border-radius: 2px;
  z-index: 1000;
}

[role=banner] #nav-toggle:focus + label {
  border: 1px dashed gray;
}

[role=banner] #nav-toggle:checked + label {
  background-color: var(--primary);
  color: var(--primary-text);
}

[role=banner] #nav-toggle ~ nav {
  right: -100%;
  transform: translateX(0);
  display: inline;
  transition: transform .2s ease;
}

[role=banner] #nav-toggle:checked ~ nav {
  transform: translateX(-100%);
}

[role=banner] li {
  display: block;
  padding: 4px 8px;
}

[role=banner] li a {
  text-decoration: none;
  transition: color .5s ease;
}

[role=banner] li:hover a {
  cursor: pointer;
}

#scroll-top {
  display: none;
}

.copyright {
  font-size: .7rem;
}

@media (min-width: 600px) {
  [role=banner] {
    display: block;
  }

  [role=banner] > nav {
    position: absolute;
    right: 0;
    margin-left: auto;
    overflow: auto;
    height: auto;
    background-color: inherit;
    color: currentColor;
  }

  [role=banner] ul {
    margin-top: auto;
  }

  [role=banner] #nav-toggle,
  [role=banner] #nav-toggle + label {
    display: none;
  }

  [role=banner] li {
    display: inline-block;
    padding: 4px 8px;
  }

  [role=banner] li:hover a {
    color: var(--primary);
  }
}

.breadcrumbs {
  display: block;
}

.breadcrumbs > li {
  display: inline-block;
}

.breadcrumbs > li:not(:last-child)::after {
  content: ' >';
}
