/*
--- BUTTONS ---

Color them with the classes from color.css
NOTE: tap targets should be at least 44px in size. Focusable items should
NEVER remove some form of visual indication they are focused
*/

@import '../variables/colors.css';

button,
.button {
  /* Make sure tap targets are a reasonable size for fingers */
  min-height: 44px;
  min-width: 44px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

button[disabled] {
  cursor: not-allowed;
}

button:focus,
button.focus,
button:hover,
button.hover {
  color: blue;
}

button:active,
button.active {
  color: red;
}

button.icon-button {
  border-radius: 50%;
}

.button-group {
  display: block;
}

.button-group::after {
  content: '';
  display: block;
  clear: both;
}

.button-group > * {
  float: left;
}
