/*
--- FORMS ---
Includes styling for input, textarea, native select boxes

This would also be a good place to place CSS for native form element
augmentations, like listboxes, switches, and custom datepickers
*/

@import './input.css';
@import './textarea.css';
@import './select.css';

form {
  width: 80%;
  min-width: 200px;
}

label {
  font-family: inherit;
}

.input-group {
  position: relative;
}
