.select {
  position: relative;
}

.select > button {
  padding: 5px;
  border: 1px solid black;
  background-color: inherit;
}

.select > span {
  position: absolute;
  right: .2em;
  top: .1em;
  z-index: -1;
}

.select .select-toggle + [role=listbox] {
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 250px;
  z-index: 9998;
  list-style: none;
  box-shadow: 1px 2px;
  padding: 0;
  max-height: 400px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: .2s linear;
}

.select .select-toggle[aria-expanded=true] + [role=listbox] {
  visibility: visible;
  overflow-y: auto;
  opacity: 1;
  transform: scaleY(1);
  transition: opacity .2s .1s linear, transform .4s;
}

/* Option elements in single select can't be styled! But options in multiple select and divs with role=option can... */
[role=option] {
  padding: 15px 5px;
  cursor: pointer;
  width: 100%;
  border: none;
  background: white;
  text-align: left;
}

[role=option]:not([disabled]):hover {
  background-color: lightgray;
}

[role=option]:not([disabled]):focus {
  background-color: blue;
  color: white;
}

[role=option]:not([disabled]):active,
[role=option][aria-selected=true] {
  background-color: black;
  color: white;
}

[role=option][disabled] {
  color: lightgray;
  cursor: not-allowed;
}
